
body {
    font-size: 5.5vw;
    background-color: black;
  }
  @media screen and (min-width: 600px) {
    body {
       font-size: 50px;
    }
  }

#allContainer {
    display: flex;
    justify-content: center;  
    width: 100%;
}

#timgContainer {
        border: 5px;
        padding: 5px;
        display: grid;
        justify-content: center;    
        background-color:black;
        width: 100%;
        max-width: 42rem;
        min-width: 320px;
        /* min-height: 50vh; */
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
        
}

@media screen and (max-width: 600px) {
    #timgContainer{
       width: 300px;
    }
  }

#tContainer {
    grid-column: 1;
    grid-row: 1/4;
    display: grid;
    grid-row-gap: 1px;
    background-color: white;
    border: 3px solid white;
    margin: 0%;
}
#imgContainer {
    /* position: relative; */
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    background-color:gray;
    border: 4px solid white;
    /* width: 70%; */
    /* height: 80%; */
    min-height: 10rem;
    /* min-width: 26rem; */
    /* max-width: 28rem; */
    /* max-height: 300px; */
    margin: 0%;
}

#infoContainer {
    grid-column: 1 / 5;
    grid-row: 4/ 5;
    display: grid;
    grid-row-gap: 1px;
    background-color:black;
    padding: 0%;
    /* border: 1px solid white; */
    grid-template-columns: repeat(4, 1fr);
    /* max-width: 43rem; */
    min-height: 2rem;
    height: 3vh;
    /* align-items: center; */

    /* min-width: 40rem; */

}
.tDiv {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    color: white;
    border: 1px solid white;
    text-align: center;
    background-color: black;
    /* width: 100%; */
    margin: 0%;
    padding: 0%;
}
.tP {
    vertical-align: middle; 
    color: white;
    text-align: center;
    /* font-size: 8.5vw; */
    background-color: black;
    padding: 0%;
    margin: 0%;/* very important for the text to cover the entire div */
}

.infoButton {
    font-size: 14px;
    background-color: black;
    /* border: 1px solid white; */
    align-items: center;
    text-align: center;
    padding: 0%;
    margin: 0%;
    vertical-align: middle; 
    color: white;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .infoButton {
       font-size: 10px;
    }
  }
