
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 4.5vw;
    background-color: #212326;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
    padding: 0%;
    margin: 0%;
    /*-webkit-touch-callout: none; /* iOS Safari */
    /*-webkit-user-select: none; /* Safari */
    /*-khtml-user-select: none; /* Konqueror HTML */
    /*   -moz-user-select: none; /* Old versions of Firefox */
     /*   -ms-user-select: none; /* Internet Explorer/Edge */
      /*      user-select: none;
    
  }

p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
}

img {
    overflow: hidden;
    object-fit: cover;
    /* margin: 0%; */
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top:  */
}

#allContainer {
    /* display: flex; */
    justify-content: center;  
    width: 100%;
    height: 90%;
    top: 0px;
    position: absolute;
}
#infoImage{
  margin: 0%;
  padding: 0%;
  width: 100%;
  vertical-align: middle; 
  color: white;
  text-align: center;
  background-color: #212326;
  font-size: 14px;
  height: 28px;
  border: 3px solid white;
}
#timgContainer {
        /* border: 5px;
        padding: 5px;
        display: grid; */
        justify-content: center;    
        background-color:#212326;
        width: 100%;
        /* max-width: 72rem;
        min-width: 320px; */
        height: 80%;
        /* min-height: 50vh; */
        gap: 1px;
        
}


#tContainer {
    /* grid-row-gap: 1px; */
    /* background-color: white; */
    vertical-align: middle;
    border: 3px solid white;
    margin: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 40px;
    /* justify-content: center;
    text-align: center; */

}
#imgContainer {
    position: relative;
    background-color:#212326;
    border: 3px solid white;
    overflow: hidden;
    margin: 0%;
    height: 100%;
    width: 100%;
    
}

#infoContainerAAG {
    padding: 0%;
    margin: 0%;
    background-color: #212326;
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid white;

  }
.tDiv {
    display: inline;
    justify-content: center; 
    align-items: center;
    color: white;
    border: 1px solid white;
    vertical-align: middle; 

    background-color: #212326;
    position: relative;
    height: 100%;
    width: 100%;
    /* width: 100%; */
    text-align: center;
    margin: 0%;
    padding: 0%;
    display: inherit;
}
.asdadstP {
    vertical-align: middle; 
    color: white;
    text-align: center;
    font-size: 6.5vw;
    padding: 0%;
    margin: 0%;/* very important for the text to cover the entire div */
}

.infoButton {
    display: inline;
    width: 100%;
    position: relative;
    font-size: 16px;
    align-items: center;
    text-align: center;
    /* padding: 0%; */
    margin: 0%;
    vertical-align: middle; 
    color: white;
    border: 1px solid white;
}
  
  
    #imgContainer {
        background-color:#212326;
        position: relative;
        width: 100%;
        }
    
        #tContainer {
        top: 0%;
        width: 100%;
        height: 10%;
        position: relative;
        font-size: 25px;}
        
          .tSmall{
            height: 100%;
            font-size: 15px;

          }
  

    #test{
        padding: 0;
        margin: 0;
        left: 0;
        top: 10%;
        z-index: 1;
        height: 100%;
        height: 100%;

    }

    #listOfTowns{
        height: 100%;
        overflow: scroll

    }
    #cartoList{
        /* overflow: auto; */
    }

    /* #cartoInfo{
      height: 100%;
    } */
   
    #titleCarto{
        margin-top: 10px;
        text-align: center;
        padding: 0px;
        color: white;
        font-size: 1.5vw ;
        font-family: 'Nunito Sans', sans-serif;
        /* font-size: 8vh;  */
      /* i need to put 10vh for vertical cellphone position */
    }
    #subTitleCarto{
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: rgb(171, 242, 247);
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;}
        
    #stateCarto{
        margin: 5px;
        text-align: left;
        margin-left: 10px;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        /* font-size: 7vh;  */
    }
    #numberCarto{
        text-align: left;
        margin-left: 10px;
        color: white;
        /* position: absolute; */
        z-index: 0;
        font-family: 'Nunito Sans', sans-serif;
        /* font-size: 6vh;  */
    }
    #lineDivision{
        background-color: rgb(63, 63, 63);
        height: 2px;
        margin: 5px;
        /* overflow: hidden; */
        /* position: absolute; */
        /* z-index: 100; */

    }
    
    .infoItem {
        margin: 5px;
        color: azure;
        overflow: scroll

    }

    #firstPage{
      background-color:#212326;
      height: 90%;
      width: 99%;
      position: absolute;
      top: 0px;
      z-index: 1;
    }
    #firstTransition{
      width: 100%;
      height: 40px;
      background-color: #212326;
      position:absolute;
      top: 95%;
      z-index: 0;
    }
    #secondPage{
      top:95%;
      position:absolute;
      z-index: 2;
    }
    #secondTransition{
      width: 100%;
      height: 40px;
      background-color: #212326;
      position:absolute;
      top: 200%;
      z-index: 0;
    }

    #thirdPage{
      top:205%;
      width:100%;
      height: 100%;
      position:absolute;
      background-color:#212326;
      z-index: 3;
    }
    .carousel {
      background: #212326;
    }
    
    .main-carousel {
      width: 100%;
      align-items: center;
      /* margin-top: 1%; */
      /* left: 0; */
      /* margin-left: 5%; */
      height: 100%;

    }

.carousel-cell {
  width: 100%; /* full width */
  /* padding-left: 10px; */
  left: 0%;
  height: 100%;
  background:#212326;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}
    
    /* cell number */
    .carousel-cell:before {
      display: block;
      text-align: center;
      /* content: counter(gallery-cell); this is the section needed to shift the slide to the side to show the next*/
      /* line-height: 200px; */
      /* font-size: 80px; */
      /* color: white; */
    }
    
.carousel-cell img {
  display: block;
  /* max-height: 100%; */
    /* overflow: hidden; */
    object-fit: cover;
    height: 100%;
    /* width: 100%; */

    /* margin: 0%; */
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top:  */
}

/* third page divs */
#largeDiv{
  text-align: center;
  margin: 0;
  padding: 0;
  right: 0px;
  /* height: 100%; */
  width: 100%;
  position: relative;

}
#titleDiv{
text-align: center;
font-size: x-large;
position: absolute;
/* background-color: aquamarine; */
width: 100%;  
height: 30px;  
top: 1%;
padding: 0%;
margin: auto;
z-index: 9999;
}
#daTitle{
      /* left:60%; */
      margin: auto; 
      background-color:white;
      opacity: .85;
      width: 300px;
      font-size: 20px;
}
#daMap {
  width: 100%;
  height: 330px;
  position: relative;
  margin: 0;
  padding: 0;
  right: 0;

}
#container {
  display: grid;
  width: 100%;
  justify-content: center; 
  /* height: 30px; */
  /* width: 330px; */
  /* height: 50%; */
/* the following will allow it to be in the middle  */
  background-color: whitesmoke;
  opacity: 0.85; 
  /* margin: auto // important for centering  */
  margin: auto;
  position: absolute;


}
#svgDiv{
        /* margin: auto // important for centering  */
margin: auto;
position: relative;
display: inherit;
width: 330px;
height: 45px;
/* bottom: 0; */

}
.incorporated{
  stroke: black;
  fill: #464545;
  stroke-linecap:round;
  stroke-width:.2;
  stroke-dasharray:1,1;
  pointer-events: visible;
}
.unincorporated{
stroke: none;
  fill: #301f7e;
  stroke-linecap:round;
  stroke-width:.2;
  stroke-dasharray:1,1;
  pointer-events: visible;

}
.clickable{
pointer-events: visible;
/* fill:black; 
stroke:none */
}
#pauseBot{
pointer-events: visible;
stroke: black;
}

#iPlayBot{
pointer-events: visible;
stroke: black;
/* stroke: none; */
fill:black;
}
#oPlayBot{
pointer-events: visible;
stroke: black;
/* fill:none; */
fill:black;

}
#iText{
  font-size:9px
}
#uText{
  font-size:9px
}

.tick{
stroke: black;
}
.tickText{
text-anchor:middle;
}
.wideLine{
stroke-width: 2px;
}
#info{
margin: auto;
width:100%;
height: 300px;
display: grid;
/* background-color: blueviolet; */
position: relative;
}
.infoTab{
font-size: small;
color: whitesmoke;
margin: 5px;
margin-left: 10px;
padding: 0;
overflow: scroll;
width: 100%;
}

#svgIconTag{
stroke:orange

}

#svgIconCircle{
stroke:pink

}
#infoContainer{
text-align: left;
position: absolute;
width: 100%;
top:400px
}