
body {
    background-color: black;
}

#allContainer {
    display: flex;
    justify-content: center;  
    width: 100%;
}

#timgContainer {
        border: 5px;
        padding: 5px;
        display: grid;
        justify-content: center;    
        background-color: rgb(36, 35, 35);
        width: 100%;
        max-height: 48rem;
        /* position: absolute; */
        left: 0px;
        top: 0px;
        min-height: 20rem;
        max-width: 42rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
        /* min-width: 40rem; */

        /* grid-auto-rows: minmax(80px, auto); */
        /* max-width: 42rem; */
}
#tContainer {
    grid-column: 1;
    grid-row: 1/4;
    display: grid;
    grid-row-gap: 1px;
    background-color: white;
    border: 1px solid white;
    /* width: 30%; */
    /* height: 80%; */
    min-height: 16rem;
    min-width: 14rem;
    max-width: 14rem;
    /* max-height: 300px; */
    margin: 0%;
}
#imgContainer {
    /* position: relative; */
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    background-color:gray;
    border: 1px solid white;
    /* width: 70%; */
    /* height: 80%; */
    min-height: 16rem;
    min-width: 26rem;
    max-width: 28rem;
    /* max-height: 300px; */
    margin: 0%;
}

#infoContainer {
    grid-column: 1 / 5;
    grid-row: 4/ 5;
    display: grid;
    grid-row-gap: 1px;
    background-color:black;
    padding: 0%;
    border: 1px solid white;
    grid-template-columns: repeat(4, 1fr);
    /* max-width: 43rem; */
    min-height: 2rem;
    min-width: 40rem;

}
.tDiv {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    color: white;
    text-align: center;
    background-color: black;
    /* width: 100%; */
    margin: 0%;
    padding: 0%;
}
.tP {
    vertical-align: middle; 
    color: white;
    text-align: center;
    font-size: 3.5rem;
    background-color: black;
    padding: 0%;
    margin: 0%;/* very important for the text to cover the entire div */
}

.infoButton {
    background-color: black;
    border: 1px solid white;
}