
body {
    font-family: 'Signika', sans-serif;
    font-size: 5.5vw;
    background-color: black;
  }

img {
    overflow: hidden;
}

#allContainer {
    display: flex;
    justify-content: center;  
    width: 100%;
}

#timgContainer {
        border: 5px;
        padding: 5px;
        display: grid;
        justify-content: center;    
        background-color:black;
        width: 100%;
        max-width: 72rem;
        min-width: 320px;
        height: 500px;
        /* min-height: 50vh; */
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
        
}




#tContainer {
    grid-column: 1;
    grid-row: 1/4;
    display: grid;
    grid-row-gap: 1px;
    background-color: white;
    border: 3px solid white;
    margin: 0%;
}
#imgContainer {
    /* position: relative; */
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    background-color:gray;
    border: 4px solid white;
    overflow: hidden;
    /* width: 70%; */
    /* height: 80%; */
    min-height: 10rem;
    /* min-width: 26rem; */
    /* max-width: 28rem; */
    /* max-height: 300px; */
    margin: 0%;
    
}

#infoContainer {
    grid-column: 1 / 5;
    grid-row: 4/ 5;
    display: grid;
    grid-row-gap: 1px;
    background-color:black;
    padding: 0%;
    /* border: 1px solid white; */
    grid-template-columns: repeat(4, 1fr);
    /* max-width: 43rem; */
    min-height: 2rem;
    height: 3vh;
    /* align-items: center; */

    /* min-width: 40rem; */
}
.tDiv {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    border: 1px solid white;
    text-align: center;
    background-color: black;
    /* width: 100%; */
    margin: 0%;
    padding: 0%;
}
.tP {
    vertical-align: middle; 
    color: white;
    text-align: center;
    font-size: 6.5vw;
    background-color: black;
    padding: 0%;
    margin: 0%;/* very important for the text to cover the entire div */
}

.infoButton {
    font-size: 16px;
    background-color: black;
    /* border: 1px solid white; */
    align-items: center;
    text-align: center;
    padding: 0%;
    margin: 0%;
    vertical-align: middle; 
    color: white;
    text-align: center;
    align-items: center;
}


  /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto */

  * {box-sizing: border-box;}
  /* body {font-family: "Signika", sans-serif;} */
  .mySlides {display: none;}
  /* img {vertical-align: middle;} */
  
  /* Slideshow container */
  .slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @media screen and (max-width: 800px) { 
    /* meaning that at less than 400px screen then we will: */
    .infoButton {
       font-size: 14px;
    }
    /* #timgContainer{
        width: 320px;
     } */
    #imgContainer {
        grid-column: 1 / 5;
        grid-row: 2 / 4;
        background-color:rgb(0, 0, 0);
        position: relative;
        }
    
        #tContainer {
        font-size: 45px;
        display: grid;
        grid-column: 1 / 5;
        grid-row: 1;}
        
        .tDiv {
            grid-row: 1;
        }
  }

  @media screen and (min-width: 500px) {
    body {
        /* meaning that at more than 600px screen the font size will be at least 50px in size: */

       font-size: 50px;
       
        }    
    }
